<h1>Welcome to Language Learning!</h1>

<% if current_user.nil? %>
  <h2>Please <%= link_to 'create account', new_user_path %> or <%= link_to 'log in', new_session_path %> to get started!</h2>
<% end %>
