<h1>Create Account</h1>
<div class="col-sm-6">
  <% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render "#{@user.current_step}_step", :f => f %>
  <%= f.submit "Continue", :class => 'btn btn-default' %>
  <%= f.submit "Back", :class => 'btn btn-default', :name => 'back_button' unless @user.first_step? %>
  <% end %>
</div>
