<div class="col-sm-6" id="user_profile_page">
  <h3><%= @user.first_name + " " + @user.last_name + " | " + @user.city + @user.state %> </h3>
  <p><%= @user.bio %></p>
  <%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-success", remote: true%>
</div>
