@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
@import "semantic-ui/collections/menu";

.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center
}

#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #ffffff;
  border-style: solid;
  box-shadow: 2px 2px 10px #b1b1b1;
  margin-top: 25px;
  border-width: 7px;
}

#map-canvas {
  height: 384px;
  width: 100%;
}

.user-blurbs {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66;
  overflow: hidden;
}

.user-blurbs-content {
  position: absolute;
  height: 80%;
  width: 90%;
  padding: 10% 5%;
  img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.individual-profile-pic {
  height: 80%;
  width: 400px;
}
